# {{ ansible_managed }}

[program:{{ application.deploy_name }}_app]
autostart=true
command=/usr/local/bin/uwsgi --ini /etc/uwsgi/apps-enabled/{{ application.deploy_name }}.ini
stderr_logfile=/var/log/supervisord/{{ application.deploy_name }}-stderr.log
stdout_logfile=/var/log/supervisord/{{ application.deploy_name }}-stdout.log
user=root

[program:{{ application.deploy_name }}_celery]
autostart=true
command={{ application.deploy.venvs_path }}/current/bin/celery worker -A {{ application.name }} --loglevel=INFO
directory={{ application.deploy.app_path }}/current
stderr_logfile=/var/log/supervisord/{{ application.deploy_name }}-celery-stderr.log
stdout_logfile=/var/log/supervisord/{{ application.deploy_name }}-celery-stdout.log
user={{ application.user }}
environment=DJANGO_SETTINGS_MODULE='{{ django_env.DJANGO_SETTINGS_MODULE }}',DJANGO_CONFIGURATION='{{ django_env.DJANGO_CONFIGURATION }}'
